*{
box-sizing:border-box;
}


body{

margin:0;

font-family:"Georgia",serif;

background:#f8efdf;

color:#4a210f;

}



section{

padding:70px 25px;

text-align:center;

}



/* COVER */

.hero{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(
rgba(60,0,0,.75),
rgba(60,0,0,.85)
),
url("images/cover.jpg");

background-size:cover;

background-position:center;

}



.javanese-frame{

max-width:420px;

width:90%;

padding:45px 25px;

border:3px solid #d4af37;

background:rgba(0,0,0,.35);

color:white;

}



.small-title{

letter-spacing:4px;

font-size:14px;

color:#f5d77a;

}



h1{

font-size:55px;

font-weight:normal;

color:#f5d77a;

line-height:1.1;

}



h1 span{

color:white;

font-size:35px;

}



.gold-line{

width:120px;

height:2px;

background:#d4af37;

margin:25px auto;

}



.date{

font-size:20px;

line-height:1.8;

}



button{

background:#d4af37;

border:none;

padding:14px 45px;

border-radius:50px;

font-size:16px;

cursor:pointer;

color:#4a210f;

margin-top:25px;

}



/* OPENING */


.opening{

background:#fff7e8;

line-height:1.8;

}



/* COUPLE */


.couple h2,
.countdown h2,
.reception h2,
.gift h2,
.rsvp h2,
.thank h2{

color:#7b1e1e;

letter-spacing:2px;

}



.person{

margin:35px auto;

}



.person img{

width:190px;

height:230px;

object-fit:cover;

border-radius:50%;

border:5px solid #d4af37;

}



.person h3{

font-size:30px;

color:#7b1e1e;

}



.heart{

font-size:35px;

}



/* COUNTDOWN */


.countdown{

background:#fff7e8;

}



.timer{

display:flex;

justify-content:center;

gap:12px;

margin:35px 0;

}



.timer div{

background:#5b1010;

color:white;

padding:15px;

width:75px;

border:2px solid #d4af37;

}



.timer span{

font-size:28px;

color:#f5d77a;

}



.timer p{

font-size:12px;

margin:5px;

}




/* PREWEDDING */


.prewedding img{

width:100%;

max-width:400px;

border:6px solid #d4af37;

}




.prewedding h3{

color:#7b1e1e;

letter-spacing:2px;

}



/* RECEPTION */


.reception{

background:#5b1010;

color:white;

}



.reception h2{

color:#f5d77a;

}



.event-box{

max-width:450px;

margin:auto;

border:2px solid #d4af37;

padding:35px 20px;

}



.event-box h3{

color:#f5d77a;

}



/* GIFT */


.gift{

background:#fff7e8;

}



.gift h3{

font-size:28px;

color:#7b1e1e;

}



/* RSVP */


.rsvp{

background:#f2dfc2;

}




/* THANK */


.thank{

background:#5b1010;

color:white;

}



.thank h2{

color:#f5d77a;

}



/* MOBILE */


@media(max-width:480px){

h1{

font-size:45px;

}


.timer div{

width:60px;

padding:10px;

}


.timer{

gap:6px;

}


}
